/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.a-style {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
}

.banner .portfolio-pic {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}

.banner-content {
    max-width: 700px;

}

.banner-title {
    color: #181818;
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
}

.text-color {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
}

.btn-bcolor {
    background: #FFF8F3;
    color: #FD6E0A;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 30px;
    border-color: #FD6E0A;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    color: #757575
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
